In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randint(0, 9, (4, 4))
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  7  7  4  8
1  8  4  1  6
2  7  1  0  3
3  4  8  8  8

In [9]:
df.rename(columns ={'A':'Random value 1' }, inplace=True)
df.rename(columns ={'B':'Random value 2' }, inplace=True)
df.rename(columns ={'C':'Random value 3' }, inplace=True)
df.rename(columns ={'D':'Random value 4' }, inplace=True)
df

   Random val 1  Random value 2  Random value 3  Random value 4
0             7               7               4               8
1             8               4               1               6
2             7               1               0               3
3             4               8               8               8

In [15]:
print(df.mean())
print(df.mode())
print(df.median())
print(df.quantile(0.25))
print(df.quantile(0.50))
print(df.quantile(0.75))

Random val 1      6.50
Random value 2    5.00
Random value 3    3.25
Random value 4    6.25
dtype: float64
   Random val 1  Random value 2  Random value 3  Random value 4
0           7.0               1               0             8.0
1           NaN               4               1             NaN
2           NaN               7               4             NaN
3           NaN               8               8             NaN
Random val 1      7.0
Random value 2    5.5
Random value 3    2.5
Random value 4    7.0
dtype: float64
Random val 1      6.25
Random value 2    3.25
Random value 3    0.75
Random value 4    5.25
Name: 0.25, dtype: float64
Random val 1      7.0
Random value 2    5.5
Random value 3    2.5
Random value 4    7.0
Name: 0.5, dtype: float64
Random val 1      7.25
Random value 2    7.25
Random value 3    5.00
Random value 4    8.00
Name: 0.75, dtype: float64

In [17]:
null_count = df.isnull().sum()
null_count

Random val 1      0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [19]:
print(df.loc[:,'Random value 2'])

0    7
1    4
2    1
3    8
Name: Random value 2, dtype: int64

In [21]:
print(df.loc[:,'Random value 3'])

0    4
1    1
2    0
3    8
Name: Random value 3, dtype: int64

In [23]:
print(df.iloc[:,1])

0    7
1    4
2    1
3    8
Name: Random value 2, dtype: int64

In [24]:
print(df.iloc[:,2])

0    4
1    1
2    0
3    8
Name: Random value 3, dtype: int64